.contact {
    padding: 0px 8px 16px 8px;
    color: var(--color-primary);
}

.contact .title {
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 1;
    margin: 0px;
    margin-bottom: 16px;
    font-family: 'Playfair Display';
}

input,
textarea {
    outline: none;
    position: relative;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid var(--color-primary);
    width: 100%;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input::placeholder,
textarea::placeholder {
    color: var(--color-primary);
    text-transform: capitalize;
}

.contact button {
    border-radius: 3px;
    color: var(--color-secondary);
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    padding: 12px 18px;
    text-align: center;
    background-color: var(--color-primary);
}

@media (min-width: 600px) {
    .contact {
        padding: 16px 10%;
    }
}