.principal-bg {
    position: relative;
    display: flex;
    width: 100%;
    height: 520px;
    background: url("../images/phone-principal.png") no-repeat center center;
    background-size: cover;
    background-color: black;
}
.second-bg {
    position: relative;
    display: flex;
    width: 100%;
    height: 320px;
    background: url("../images/about-us.png") no-repeat center center;
    background-size: cover;
    background-color: black;
}
.third-bg {
    position: relative;
    display: flex;
    width: 100%;
    height: 320px;
    background: url("../images/services.png") no-repeat center center;
    background-size: cover;
    background-color: black;
}

.principal-bg .carousel {
    position: absolute;
    background-color: var(--color-primary);
    bottom: -3%;
    min-width: 300px;
    width: 95%;
    max-width: 600px;
    padding: 0px 8px 16px 8px;
    box-sizing: border-box;
    color: var(--color-secondary);
}

    .carousel .title {
        font-size: 24px;
        margin: 12px 0px;
        font-family: 'Playfair Display';
    }

    .carousel .description {
        font-family: 'Lato';
        line-height: 1.25;
        margin: 0px;
    }

@media (min-width: 600px) {
    .principal-bg {
        background: url("../images/web-principal.png") no-repeat center center;
        background-size: cover;
    }
    .second-bg {
        background: url("../images/web-about-us.png") no-repeat center center;
        background-size: cover;
    }
    .third-bg {
        background: url("../images/web-services.png") no-repeat center center;
        background-size: cover;
    }

    .principal-bg .carousel {
        padding: 0px 16px 16px 10%;
    }
}